h1{
    text-align: center; 
    font-size: 60px;
    color: rgb(105, 90, 72);

}
.div2{
    border-radius: 9px;
    background-color: rgba(145, 127, 105, 0.384);
    border: 1px solid rgb(0, 0, 0);
    margin: 14% 4% 0 6%;
    position:unset;

}
.ved1{
    width: 0;
    height: 0;
}
    
.ved2 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
p{
    font-size: 30px;
    margin: 0 3% 0 3%;
    color:white;
}
  
.input{
    border-radius: 8px;
    border: 3px double black;
    margin: 10% 20% 10% 20%;
    font-size: 20px;
}
.input1{
    margin: 1px 0 10% 20%;
    font-size: 20px;

}
button{
    font-size: 30px;
    width: 200px;
    height: 40px;
    margin: 0 0 30% 25%;
}